<div class="col s12 m6">
  <div class="card">
    <div class="card-content">
      <a href="/post/{{id}}">
        <span class="card-title">{{title}}</span>
      </a>
      <p>Written by {{user.username}} on {{formatDate created_at}}</p>
    </div>
  </div>
</div>