<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/styles.css" />
    <title>NibbleShare</title>
  </head>
  <body>
    <header>
      <h1>NibbleShare</h1>
      <p>nibble /nĭb′əl/</p>
      <p>noun </p>
      <p>1. a four-bit data set, or half a byte 2. A very small quantity</p>
    </header>
    <main>{{{body}}}</main>
    <footer>Thanks for visiting NibbleShare!</footer>
  </body>
</html>