<section>
  <h2>My Posts</h2>
  <a href="/post/new">New Post</button>
  {{#if posts}}
  <ul>
    {{#each posts as |post|}}
        {{> post-preview post}}
    {{/each}}
  </ul>
  {{else}}
    <div>You haven't posted anything yet!</div>
  {{/if}}

</section>
<script src="/javascript/new-post.js"></script>