<section>
  <h2>Edit Post</h2>
  <form class="edit-post-form">
    <div class="input-field">
      <label for="title">Title</label>
      <input
        size="{{post.title.length}}"
        type="text"
        name="title"
        id="title"
        value="{{post.title}}"
      />
    </div>
    <div class="input-field">
      <textarea
        cols="100"
        rows="20"
        id="content"
        name="content"
        class="materialize-textarea"
      >{{post.content}}</textarea>
      <label for="content">Content</label>
      <input class="btn" type="submit" value="Save" />
    </div>

  </form>
</section>

<script src="/javascript/edit-post.js"></script>