<p>nibble /nĭb′əl/</p>
<p>noun </p>
<p>1. a four-bit data set, or half a byte 2. A very small quantity</p>
<section>
  <div clas="row">
    {{#each posts as |post|}}
        {{> post-preview post}}
    {{/each}}
  </div>
    
    {{comments}}
  
</section>