<p>nibble /nĭb′əl/</p>
<p>noun </p>
<p>1. a four-bit data set, or half a byte 2. A very small quantity</p>
<section>
  <ul>
    {{#each posts as |post|}}
      <li>
        {{> post-preview post}}
      </li>
    {{/each}}
    {{comments}}
  </ul>
</section>