<form class="login-form">
  <label for="login-email">Email</label>
  <input id="login-email" type="email" />
  <label for="login-password">Password</label>
  <input id="login-password" type="password" />
  <input type="submit" value="Login" />
</form>
<form class="signup-form">
  <label for="signup-username">Username</label>
  <input id="signup-username" type="text" />
  <label for="signup-email">Email</label>
  <input id="signup-email" type="text" />
  <label for="signup-password">Password</label>
  <input id="signup-password" type="text" />
  <input type="submit" value="Signup" />
</form>