<section>
  <h2>Write a New Post</h2>
  <form class="new-post-form">
    <div class="input-field">
      <label for="new-post-title">Title</label>
      <input type="text" id="new-post-title" />
    </div>
    <div class="input-field">
      <label for="new-post-content">Content</label>
      <textarea id="new-post-content" class="materialize-textarea"></textarea>
      <span class="helper-text">Accepts
        <a
          href="https://www.markdownguide.org/getting-started/"
          target="_blank"
        >markdown</a></span>
    </div>

    <input class="btn" type="submit" value="Post" />
  </form>
</section>

<script src="/javascript/new-post.js"></script>