<section>
  <h2>Write a New Post</h2>
  <form class="new-post-form">
    <label for="new-post-title">Title</label>
    <input type="text" id="new-post-title" />
    <textarea id="new-post-content"></textarea>
    <input type="submit" value="Post" />
  </form>
</section>

<script src="/javascript/new-post.js"></script>